
.UserCard-info {
  .item-userStats {
    display: block;
    margin-top: 20px;
  }
}

.user-stats-fe {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  .stat {
    display: flex;
    flex-direction: column;
    gap: 8px;

    img {
      width: 40px;
      height: 40px;
    }
  }
}
